<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ALL Users</title>	
	<link rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="/css/product.css">
</head>
<body>
	<header class="main-header">
		<nav class="main-header__nav">
			<ul class="main-header__item-list">
				<li class="main-header__item">
					<a class="" href="/">Home</a>
				</li>
				<li class="main-header__item">
					<a class="" href="/users">Users</a>
				</li>
			</ul>
		</nav>
	</header>
	<body>	
		<main>
			<% if (users.length > 0) { %>
				<div class="grid">
					<% for (let user of users) { %>
						<div class="card product-item">
							<header class="card__header">
								<h1 class="product__title"><%= user.name %></h1>
							</header>
							<div class="card__image">
								<img src="<%= user.img %>"
									alt="<%= user.userName %>">
							</div>
							<div class="card__content">
								<h2 class="product__price">Gender: <%= user.gender %></h2>
								<p class="product__description">City: <%= user.city %></p>	
								<p class="product__description">Street: <%= user.location %></p>
								<p class="product__description">City: <%= user.state %></p>
								<p class="product__description">City: <%= user.country %></p>
								<p class="product__description">City: <%= user.postcode %></p>
								<p class="product__description">City: <%= user.email %></p>
								<p class="product__description">City: <%= user.phone %></p>
								<p class="product__description">City: <%= user.dob %></p>
							</div>
						</div>
					<% } %>
				</div>
			<% } else { %>
				<h1>No Users Found!</h1>
			<% } %>
		</main>
</body>
</html>